@CHARSET "ISO-8859-1";

/* Exercise Log */
.ELContainer {width: 100%;}
.ELSearch, .ELCalories{background: #ece9e9; border: 1px solid #B4B4B4; padding:20px 10px 5px 10px;}
.ExerciseItem {/*	margin-left: 10px;*/}

#exerciseTable {background:#FFF;}
#exerciseTable table{border-collapse:collapse}
#exerciseTable tr, #exerciseTable td, #exerciseTable th{height:20px; padding:0 0 0 4px; text-align:left}
.ELCalories{height:35px;}
.ELCalories span{font-size:14px;}
/*.ELMeals span.foodlogDay{display:inline-block; font-size:15px; font-weight:bold;margin:10px auto 5px;} */
.ELSearch input{width:325px; margin-left:5px;}

#ExerciseList {margin:15px 0 10px;
	border:1px solid #CCCCCC;
	max-height:245px;
	overflow:auto;
	width:auto;
	background:#fff;
}

.exerciseSearch label {margin-top:3px}

td.sets{width:40px}

/*
.FLMeals td{padding:5px}
.FLMeals td{width:auto;}
.FLMeals td.amount{width-min:130px;}
.FLMeals td.actions{width:110px;}
.FLMeals td.calories{width:80px;}
.FLMealPop {position:absolute;background-color:#FFF;border:1px solid #000;width:150px;height:200px;left:200px;top:250px;}
.FLMeals input {height:22px; background:#fff url(/assets/media/images/input-bg.jpg)repeat-x; border:1px solid #c3c3c3; border-bottom:1px solid #ddd; border-top:1px solid #7c7c7c; margin-right:5px; vertical-align:middle;}

.foodCal img{vertical-align:middle}
.foodCal{line-height:22px}
#customFood{text-align:right; margin:10px 5px 0 0}
#mealList{margin:10px 0px 15px 10px}
#mealList a{margin-bottom:5px; display:inline-block;}
*/
